<div class='bg-gray-100'>

  <div class='container mx-auto p-8'>

    <!-- Header -->
    <div class='container mx-auto p-6 mt-2'>
      <div class='welcome-card highlighted-recipe-card'>
        <h1
          class='font-damion text-4xl text-white bg-custom-yellow rounded-lg p-2 mb-4 highlighted-recipe-card'
        >
          {{this.category.name}}</h1>
        <p class='text-custom-blue font-caveat text-xl'>
          Explore and share your favorite recipes!
        </p>
      </div>
    </div>

    <!-- Recipe Cards -->
    {{#each category.recipes as |recipe|}}
      <div class='recipe-card'>
        <div class='bg-white p-4 rounded-lg shadow-md image-container'>
          <!-- Display Recipe Information -->
          <img
            src='{{decodeBase64 recipe.image}}'
            alt='{{recipe.title}}'
            class='mb-2 recipe-image cardImgIdentifier'
            data-recipe-id='{{recipe_id}}'
          />
          <div class='read-more'>Click on the image to view the full Recipe!</div>
          {{!-- <p class="text-gray-700 mb-2 recipe-description {{#unless expanded}} collapsed{{/unless}}"></p> --}}
          <p class='font-acme text-2xl'>{{recipe.title}}</p>
          <p class='font-indie-flower text-xl'>{{recipe.description}}</p>
          {{! </p> }}
        </div>
      </div>
    {{/each}}

    <!-- Clear float to start a new row -->
    <div class='clear-float'></div>
  </div>
</div>

<script src='/js/categories.js'></script>