<div class='bg-gray-100'>

  <!-- Content Section -->
  <div class='container mx-auto p-6 mt-8'>
    <div class='container mx-auto p-6 mt-2'>
      <div class='welcome-card highlighted-recipe-card'>
        <h1 class='font-damion text-4xl text-white bg-custom-yellow rounded-lg p-2 mb-4 highlighted-recipe-card'>Welcome
        </h1>
        <p class='text-custom-blue font-caveat text-xl'>
          Welcome to our kitchen! We're delighted to have you here. Take a
          moment to explore the delicious recipes created by our community or
          share your own culinary masterpiece. It's all about sharing the love
          for cooking and baking.
        </p>
      </div>
    </div>
    <div class='flex space-x-6'>
      <!-- Highlighted Recipe Card -->
      <div class='w-1/4 mt-8 rounded-lg'>
        <div class='bg-custom-yellow highlighted-recipe-card text-white rounded-t-lg p-2'>
          <h2 class='text-2xl font-autour-one'>Highlighted Recipe</h2>
        </div>
        {{#with (randomRecipe recipeData) as |randomRecipe|}}
        <div class='card-body highlighted-recipe-card rounded-b-lg p-4'>
          <h3 class='text-xl font-acme'>{{randomRecipe.title}}</h3>
          <img class='highlighted-recipe-image' src='{{randomRecipe.image}}' alt='{{randomRecipe.title}}'
            class='mt-2 max-w-xs rounded-lg' />
          <p class='text-xl mt-4 font-indie-flower'>{{randomRecipe.description}}</p>
        </div>
        {{/with}}

      </div>

      <!-- Seasonal Treats Card -->
      <div class='w-3/4 mt-8 rounded-lg'>
        <div class='bg-custom-yellow highlighted-recipe-card text-white rounded-t-lg p-2'>
          <h2 class='text-2xl font-autour-one'>Seasonal Treats</h2>
        </div>
        {{#with (seasonalRecipe recipeData) as |seasonalRecipe|}}
        <div class='card-body highlighted-recipe-card rounded-b-lg p-4'>
          <p
            class='season-card text-center font-damion text-4xl text-white rounded-lg p-2 mb-4 highlighted-recipe-card'>
            October</p>
          <div class='flex flex-col justify-center items-center'>
            <h3 class='text-xl mt-2 font-acme'>{{seasonalRecipe.title}}</h3>
            <img src='{{seasonalRecipe.image}}' alt='{{seasonalRecipe.title}}' class='mt-2 max-w-xs rounded-lg' />
            <p class='text-xl mt-4 font-caveat'>{{seasonalRecipe.description}}</p>
          </div>
          <p class='text-xl mt-2 font-indie-flower'>Let me tell you why
            Chicken Alfredo is just perfect for the cozy month of October! You
            see, as the leaves start to turn into those beautiful shades of
            red, orange, and yellow, and the air gets a bit nippy, our tummies
            start to crave something warm and comforting. That's where Chicken
            Alfredo comes in!<br />
            <br />
            This creamy pasta dish, with tender chicken and silky-smooth
            Alfredo sauce, is like a warm hug for your insides. It's the ideal
            way to ward off those chilly autumn chills. Plus, it's quick and
            easy to make, which leaves more time for you to enjoy all those
            spooky Halloween festivities or just relax with a good book by the
            fire.<br />
            <br />
            Now, October also brings an abundance of fresh produce, and you
            can toss in some roasted butternut squash, hearty mushrooms, or
            even some crispy bacon to your Chicken Alfredo. It's like magic
            when you add those fall flavors, making your dinner table a true
            autumn wonderland.
            <br />
            <br />
            So, in the month of October, when the days get shorter and the
            nights get longer, whip up a batch of Chicken Alfredo and let the
            creamy, cheesy goodness warm your hearts.
          </p>

        </div>
        {{/with}}

      </div>
      {{! <div class="w-1/2 mt-8  rounded-lg">
        <div class="bg-yellow-500 highlighted-recipe-card text-white rounded-t-lg p-2 ">
          <h2 class="text-lg font-semibold">Highlighted Recipe</h2>
        </div>
        <div class="card-body highlighted-recipe-card rounded-b-lg p-4">
          <h3 class="text-xl font-semibold">Delicious Dish Name</h3>
          <img src="food-image.jpg" alt="Food Image" class="mt-2 rounded-lg">
          <p class=" mt-4">Description of the meal goes here.</p>
        </div>
      </div> }}

      <!-- Submit a Recipe Card -->

    </div>
  </div>
</div>

<script src='/js/index.js'></script>