<div class='bg-gray-100'>
  <!-- Content Section -->
  <div class='container mx-auto p-6 mt-8'>
    <!-- Profile Picture and Username -->
    <div class='text-center'>
      <div class='profile-picture'>
        <!-- User's profile picture -->
        {{#if users.profile_picture}}
          <img
            src='{{decodeBase64 users.profile_picture}}'
            alt="{{users.username}}'s profile picture"
            class='rounded-2xl'
          />
        {{else}}
          <i class='fas fa-user text-5xl text-white'></i>
        {{/if}}
      </div>
      <h2 class='text-6xl font-damion mt-4'>{{users.username}}</h2>
    </div>

    <!-- About Me Section -->

    <div class='container mx-auto p-6 mt-2'>
      <div class='welcome-card highlighted-recipe-card'>
        <h1
          class='font-damion text-4xl text-white bg-custom-yellow rounded-lg p-2 mb-4 highlighted-recipe-card'
        >About Me</h1>
        {{#if users.about}}
          <p class='text-custom-blue font-caveat text-xl'>
            {{users.about}}
          </p>
        {{/if}}
        <div class='mt-2 space-x-6'>
          <button
            class='submit-button text-white px-4 py-2 rounded-lg font-autour-one highlighted-recipe-card hover:bg-f3c655'
          >Edit Profile</button>
        </div>
      </div>
    </div>
    <div style='display: flex;'>
      {{log 'loggedIn' loggedIn}}
      {{log 'user_id' user_id}}
      <div
        style='flex-grow: 1; margin-right: 5%;'
        class='w-1/2 mt-8 highlighted-recipe-card rounded-lg'
      >
        <div class='bg-custom-yellow text-white rounded-t-lg p-2'>
          <h2 class='text-2xl font-autour-one'>Submit a Recipe</h2>
        </div>
        <div class='card-body rounded-b-lg p-4'>
          <!-- Apply custom styles to card body -->

          <form enctype='multipart/form-data'>
            <label
              class='block text-white text-sm text-xl font-acme mb-2'
              for='dishName'
            >Dish Name</label>
            <input
              type='text'
              id='dishName'
              name='dishName'
              class='border rounded-lg w-full p-2 mb-4 text-gray-700'
              placeholder='Enter Dish Name'
            />

            <label
              class='block text-white text-sm text-xl font-acme mb-2'
            >Description</label>
            <textarea
              id='description'
              name='description'
              class='border rounded-lg w-full p-2 mb-4 text-gray-700'
              placeholder='Enter Description'
            ></textarea>

            <label
              class='block text-white text-sm text-xl font-acme mb-2'
            >Instructions</label>
            <textarea
              id='instructions'
              name='instructions'
              class='border rounded-lg w-full p-2 mb-4 text-gray-700'
              placeholder='Enter Instructions'
            ></textarea>

            <label
              class='block text-white text-sm text-xl font-acme mb-2'
            >Ingredients</label>
            <div class='block items-center mb-4' id='ingredientsContainer'>
              <input
                type='number'
                class='border rounded-lg w-1/6 p-2 mr-2 text-gray-700'
                placeholder='Qty'
              />
              <select class='border rounded-lg w-1/4 p-2 mr-2 text-gray-700'>
                <option value='whole'>whole</option>
                <option value='slice(s)'>slice(s)</option>
                <option value='teaspoon(s)'>teaspoon(s)</option>
                <option value='tablespoon(s)'>tablespoon(s)</option>
                <option value='cup(s)'>cup(s)</option>
                <option value='pint(s)'>pint(s)</option>
                <option value='quart(s)'>quart(s)</option>
                <option value='gallon(s)'>gallon(s)</option>
                <option value='ounce(s)'>ounce(s)</option>
                <option value='fluid ounce(s)'>fluid ounce(s)</option>
                <option value='pound(s)'>pound(s)</option>
                <!-- Add more units as needed -->
              </select>
              <input
                type='text'
                class='border rounded-lg flex-grow p-2 mr-2 text-gray-700'
                placeholder='Ingredient Name'
              />
              <button
                type='button'
                class='submit-button p-2 rounded-lg hover:bg-f3c655 plus-button font-autour-one mb-2'
              >New Ingredient</button>
            </div>

            <label class='block text-white text-xl font-acme mb-2'>Tags</label>
            <div class='grid grid-cols-2 gap-2 text-lg font-caveat' id='tags'>
              <label class='flex items-center'>
                <input
                  type='checkbox'
                  name='tags[]'
                  value='1'
                  class='mr-2'
                />
                Vegetarian
              </label>
              <label class='flex items-center'>
                <input
                  type='checkbox'
                  name='tags[]'
                  value='2'
                  class='mr-2'
                />
                Vegan
              </label>
              <label class='flex items-center'>
                <input
                  type='checkbox'
                  name='tags[]'
                  value='3'
                  class='mr-2'
                />
                Gluten Free
              </label>
              <label class='flex items-center'>
                <input
                  type='checkbox'
                  name='tags[]'
                  value='4'
                  class='mr-2'
                />
                Keto Compliant
              </label>
              <label class='flex items-center'>
                <input
                  type='checkbox'
                  name='tags[]'
                  value='5'
                  class='mr-2'
                />
                Breakfast
              </label>
              <label class='flex items-center'>
                <input
                  type='checkbox'
                  name='tags[]'
                  value='6'
                  class='mr-2'
                />
                Lunch
              </label>
              <label class='flex items-center'>
                <input
                  type='checkbox'
                  name='tags[]'
                  value='7'
                  class='mr-2'
                />
                Dinner
              </label>
              <label class='flex items-center'>
                <input
                  type='checkbox'
                  name='tags[]'
                  value='8'
                  class='mr-2'
                />
                Dessert
              </label>
            </div>

            <div
              class='grid grid-cols-2 gap-2 text-lg font-caveat'
              id='categories'
            >
              {{log 'categories' categories}}
              {{#each categories as |category|}}

                <label class='flex items-center'>
                  <input
                    type='checkbox'
                    name='category_id'
                    value='{{category.category_id}}'
                    class='mr-2'
                  />
                  {{category.name}}
                </label>
              {{/each}}
            </div>

            <label
              class='block text-white text-sm text-xl font-acme my-2'
              for='image'
            >Upload Image</label>
            <input type='file' id='image' name='image' class='mb-4' />

            <button
              type='submit'
              class='submit-button text-white px-4 py-2 rounded-lg font-autour-one hover:bg-f3c655'
            >Submit Recipe</button>
            <!-- Apply custom styles to the button -->
          </form>
        </div>
      </div>

      <div style='flex-grow: 1; display: flex; flex-direction: column;'>
        <!-- My Recipes Section -->

        <div class='profile mt-8 highlighted-recipe-card rounded-lg'>
          <div class='bg-custom-yellow text-white rounded-t-lg p-2'>
            <h2 class='text-2xl font-autour-one'>My Recipes</h2>
          </div>
          <div class='card-body rounded-b-lg p-4'>
            {{log 'users comments' users.comments}}
            {{log 'user recipes' users.recipes}}
            {{#each users.recipes}}
              <div class='recipe'>
                <h3 class='text-4xl font-acme mt-2'>{{this.title}}</h3>
                <p
                  class='text-white mt-2 mb-1 font-indie-flower text-xl'
                >{{this.description}}</p>
                <img
                  src='{{decodeBase64 this.image}}'
                  alt='{{this.title}}'
                  class='max-w-xs mt-2 rounded-lg'
                />
                <a
                  href='#'
                  class='submit-button text-white px-1 py-0.5 rounded-lg font-autour-one hover:bg-f3c65'
                >Read More</a>
              </div>
            {{/each}}
          </div>

        </div>

        <div class='profile mt-8 highlighted-recipe-card rounded-lg'>
          <div class='bg-custom-yellow text-white rounded-t-lg p-2'>
            <h2 class='text-2xl font-autour-one'>My Comments</h2>
          </div>
          <div class='card-body rounded-b-lg p-4'>
            {{#each users.comments}}
              <div class='comment'>
                <p class='text-white mt-2 mb-1 font-acme text-xl'>On recipe:
                  {{this.recipe.title}}</p>
                <p class='text-4xl font-indie-flower'>{{this.content}}</p>
                <p class='text-sm font-acme mt-2 mb-1'>Created on:
                  {{format_date this.created_at format='MM/DD/YYYY'}}</p>
                <a
                  href='#'
                  class='submit-button text-white px-1 py-0.5 rounded-lg font-autour-one hover:bg-f3c65'
                >Read More</a>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src='/js/profile.js'></script>