<div class='recipe-container'>
  <!-- Recipe Title -->
  {{log recipe}}
  <h1 class='text-4xl font-semibold damion-font mb-4'>{{recipe.title}}</h1>

  <!-- Recipe Image -->
  <img
    src='{{decodeBase64 recipe.image}}'
    {{log decodeBase64 recipe.image}}
    alt='{{recipe.title}}'
    class='recipe-image'
  />

  <!-- Recipe Description -->
  <p class='text-gray-700 mb-4'>
    {{recipe.description}}
  </p>

  <!-- Recipe Ingredients -->
  <h2 class='text-2xl font-semibold mb-2'>Ingredients</h2>
  <p>{{recipe.ingredients}}</p>

  <!-- Recipe Instructions -->
  <h2 class='text-2xl font-semibold mb-2'>Instructions</h2>
  <p>{{recipe.instructions}}</p>

  <!-- Tags for classification -->
  <h2 class='text-2xl font-semibold mb-2'>Tags</h2>
  <div class='recipe-tags'>
    {{#each recipe.tags}}
      <span class='tag'>{{this}}</span>
    {{/each}}
  </div>

  <!-- Comments Section -->
  <div class='comments-section'>
    <h2 class='text-2xl font-semibold mb-2'>Comments</h2>

    <!-- Comment Form -->
    <form class='comment-form'>
      <label for='comment'>Leave a comment:</label>
      <textarea
        id='comment'
        name='comment'
        rows='4'
        class='border p-2 rounded'
      ></textarea>

      <!-- Smaller Submit Button -->
      <button type='submit' class='submit-button'>Submit</button>
    </form>

    <!-- Display Existing Comments -->
    <div class='existing-comments'>
      <h3 class='text-xl font-semibold mb-2'>Existing Comments:</h3>

      <!-- Check if there are existing comments -->
      {{#if recipe.comments.length}}
        <ul>
          {{#each recipe.comments}}
            <li>{{this.content}}</li>
            <!-- Assuming there's a 'content' property in Comment model -->
          {{/each}}
        </ul>
      {{else}}
        <p>No comments yet.</p>
      {{/if}}
    </div>
  </div>
</div>

<script src='/js/recipe.js'></script>