<div class='recipe-container'>

  <!-- Recipe Title -->
  {{log recipe}}
  <h1 class='font-damion text-4xl text-white bg-custom-yellow  p-2 mb-4 highlighted-recipe-card'>{{recipe.title}} by
    {{recipe.user.username}}
  </h1>


  <div class="ml-4">
    <!-- Recipe Image -->
    <div id='image-container' data-recipe-id="{{recipe.recipe_id}}">
      <img src='{{decodeBase64 recipe.image}}' {{log decodeBase64 recipe.image}} alt='{{recipe.title}}'
        class=' recipe-page-picture' />
    </div>

    <!-- Recipe Description -->
    <p class='text-gray-700 mt-2 mb-4 font-indie-flower text-xl'>
      {{recipe.description}}
    </p>

    <!-- Recipe Ingredients -->
    <h2 class='text-2xl mt-4 font-acme mb-2'>Ingredients</h2>
    <p class="font-indie-flower text-xl">{{recipe.ingredients}}</p>

    <!-- Recipe Instructions -->
    <h2 class='text-2xl mt-4 font-acme mb-2'>Instructions</h2>
    <p class="font-indie-flower text-xl">{{recipe.instructions}}</p>

    <!-- Tags for classification -->
    <h2 class='text-2xl mt-4 font-acme mb-2'>Tags</h2>
    <div class='recipe-tags font-indie-flower'>
      {{#each this.recipe.categories}}
      {{log 'What is this here:::' this}}
      <a href='/categories/{{this.name}}' class='tag'>{{this.name}}</a>
      {{/each}}
    </div>

    <!-- Comments Section -->
    <div class='existing-comments'>
      <h3 class='text-2xl mt-4 font-acme mb-2'>Comments</h3>

      <!-- Comment Form -->

      <form class='comment-form'>
        <div class='container w-1/4 p-6 mt-2'>
          <div class="bg-custom-yellow text-white rounded-t-lg p-2 text-2xl font-autour-one">
            <label for='comment'>Leave a comment</label>
          </div>
          <div class="card-body pl-4 pt-4">
            <textarea id='comment-box' name='comment' rows='4' class=' text-gray-600 w-4/5 pt-2 rounded'></textarea>
          </div>
          <!-- Smaller Submit Button -->
          <div class="card-body rounded-b-lg p-4">
            <button type='submit' class='submit-button text-white px-2 py-1 rounded-lg font-autour-one hover:bg-f3c65'
              id="submit-button">Submit</button>
          </div>
        </div>
      </form>
    </div>

    <!-- Display Existing Comments -->

    <!-- Check if there are existing comments -->
    {{#if recipe.comments.length}}
    <ul>
      {{#each recipe.comments}}
      <li>
        <div class='container w-1/4 p-6 mt-2'>
          <div class="bg-custom-yellow text-white rounded-t-lg p-2 text-2xl font-autour-one">
            <p class="font-autour-one text-xl">{{this.user.username}}</p>
          </div>
          <div class="card-body rounded-b-lg p-4">
            <p class="font-indie-flower text-xl">{{this.content}}</p>
            <p class='text-sm font-acme mt-2 mb-1'>Created on:
              {{format_date this.created_at format='MM/DD/YYYY'}}</p>
          </div>
        </div>


      </li>
      <!-- Assuming there's a 'content' property in Comment model -->
      {{/each}}
    </ul>
    {{else}}
    <p class="font-indie-flower text-xl mb-4">No comments yet.</p>
    {{/if}}
  </div>
</div>
</div>
</div>

<script src='/js/recipe.js'></script>